.container {
    height: 50vh;
    width: 600px;
    margin: auto;
    margin-top: 130px;
    
    
}

.calculator {
    display: grid;
    height: inherit;
    width: inherit;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.display {
    grid-column-start: 1;
    grid-column-end: 4;
    border-style: solid;
    border-color: black;
}

.num-div-container {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: span 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.num-div {
    display: flex;
    justify-content: center;
}

.btn-0 {
    grid-column-start: -3;
    grid-column-end: -2;
}

.op-div-container {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: span 4;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.op {
    display: flex;
    justify-content: center;
}
.op-btn, .num-btn {
    height: 80px;
    width: 80px;
}
p {
    text-align: right;
}